<a href="https://colab.research.google.com/github/sudip-khanal/python-Basics/blob/main/BasicQuestions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

swipping 2 numbers

In [ ]:
num1= int(input("Enter the first num : "))
num2= int(input("Enter the second num : "))

print("value of num1 before swipping :",num1)
print("value of num 2 before swipping :",num2)

temp=num1
num1=num2
num2=temp
print("value of num1 after swipping :",num1)
print("value of num 2 after swipping :",num2)

Enter the first num : 8
Enter the second num : 7
value of num1 before swipping : 8
value of num 2 before swipping : 7
value of num1 after swipping : 7
value of num 2 after swipping : 8

another example of swapping without temp veriable

In [ ]:
a= 20
b=30
print("value of a before swipping :",a)
print("value of b before swipping :",b)

a=a-b
b=a+b
a= b-a

print("value of a after  swipping :",a)
print("value of b after swipping :",b)

value of a before swipping : 20
value of b before swipping : 30
value of a after  swipping : 30
value of b after swipping : 20

Check A Number is Prime Or Not

In [ ]:
n= int(input("Enter the number:"))
count=0
if n>1:
  for i in range(1,n+1):
    if(n%i)==0:
      count=count+1
  if count ==2:
    print(n,"is prime number")
  else:
     print(n,"is not a prime number")

Enter the number:25
25 is not a prime number

 Find Factorial of A Number

In [ ]:
n= int(input("Enter the number:"))
fact=1
if n<0:
  print("no factorial for negative number")
elif(n==0):
  print(" factorial of 0 is 1")
else:
  for i in range(1,n+1):
    fact=fact*i
  print("factorial of", n,"is",fact)

Enter the number:10
factorial of 10 is 3628800

Find Factorial of A Number using recursion

In [ ]:
def factorial(n):

  if(n==0 or n==1):
    return 1
  else:
    return n*factorial(n-1)

num= int(input("Enter the number:"))
result = factorial(num)
print("factorial of", num,"is",result)

Enter the number:6
factorial of 6 is 720

Fibonacci Series

In [ ]:
num1=0
num2=1
print(num1)
print(num2)
for i in range(2,15):
  sum=num1+num2
  print(sum)
  num1=num2
  num2=sum

Find Sum Of Elements in an Array

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6])
result = sum(arr)

print(result)

Find Maximum & Minimum Elements in an Array

In [ ]:

arr=[1,4,6,9,10]
maxVal=[0]
n=len(arr) #length of array
for i in range(1,n):
  if arr[i]>maxVal:
    maxVal=arr[i]

print(maxVal)

Find Length of a List

In [28]:
my_list=[1,4,5,7,8,4]
print (my_list)
count=0
for i in my_list:
  count=count+1
print ("length of list is ", count)
# using len function
print (len(my_list))

[1, 4, 5, 7, 8, 4]
length of list is  6
6

Swap First & Last Elements of a List

In [29]:
my_list=[1,90,7,54,10]
size= len(my_list)
print("before swapping ",my_list)
temp=my_list[0]
my_list[0]=my_list[size-1]
my_list[size-1]=temp
print("after swapping ",my_list)

before swapping  [1, 90, 7, 54, 10]
after swapping  [10, 90, 7, 54, 1]

Remove Nth occurrence of the word from a List

In [42]:
my_list=["hello","hello","hi","what's up","welcome"]
print(my_list)
word="hello"
count=0
n=2
for i in range(0,len(my_list)-1):
  if (my_list[i]==word):
    count=count+1
    if count==n:
      del my_list[i]
print(my_list)

['hello', 'hello', 'hi', "what's up", 'welcome']
['hello', 'hi', "what's up", 'welcome']

Search an Element in a List

In [44]:
my_list=[1,90,7,54,10]
element=100 # search to be
if element in my_list:
  print("found")
else:
  print("not found")

not found

Reverse a List

In [47]:
my_list=[1,90,7,54,10]
#using persifine method
print(my_list)
my_list.reverse()
print(my_list)

[1, 90, 7, 54, 10]
[10, 54, 7, 90, 1]