<a href="https://colab.research.google.com/github/sudip-khanal/python-Basics/blob/main/BasicQuestions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

swipping 2 numbers

In [ ]:
num1= int(input("Enter the first num : "))
num2= int(input("Enter the second num : "))

print("value of num1 before swipping :",num1)
print("value of num 2 before swipping :",num2)

temp=num1
num1=num2
num2=temp
print("value of num1 after swipping :",num1)
print("value of num 2 after swipping :",num2)

Enter the first num : 8
Enter the second num : 7
value of num1 before swipping : 8
value of num 2 before swipping : 7
value of num1 after swipping : 7
value of num 2 after swipping : 8

another example of swapping without temp veriable

In [ ]:
a= 20
b=30
print("value of a before swipping :",a)
print("value of b before swipping :",b)

a=a-b
b=a+b
a= b-a

print("value of a after  swipping :",a)
print("value of b after swipping :",b)

value of a before swipping : 20
value of b before swipping : 30
value of a after  swipping : 30
value of b after swipping : 20

Check A Number is Prime Or Not

In [ ]:
n= int(input("Enter the number:"))
count=0
if n>1:
  for i in range(1,n+1):
    if(n%i)==0:
      count=count+1
  if count ==2:
    print(n,"is prime number")
  else:
     print(n,"is not a prime number")

Enter the number:25
25 is not a prime number

 Find Factorial of A Number

In [ ]:
n= int(input("Enter the number:"))
fact=1
if n<0:
  print("no factorial for negative number")
elif(n==0):
  print(" factorial of 0 is 1")
else:
  for i in range(1,n+1):
    fact=fact*i
  print("factorial of", n,"is",fact)

Enter the number:10
factorial of 10 is 3628800

Find Factorial of A Number using recursion

In [ ]:
def factorial(n):

  if(n==0 or n==1):
    return 1
  else:
    return n*factorial(n-1)

num= int(input("Enter the number:"))
result = factorial(num)
print("factorial of", num,"is",result)

Enter the number:6
factorial of 6 is 720

Fibonacci Series

In [ ]:
A=0
B=1
print(A)
print(B)
for i in range(2,10):
  C=A+B
  A=B
  B=C
  print(C)

0
1
1
2
3
5
8
13
21
34

Find Sum Of Elements in an Array

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6])
result = sum(arr)

print(result)

Find Maximum & Minimum Elements in an Array

In [ ]:

arr=[1,4,6,9,10]
maxVal=[0]
n=len(arr) #length of array
for i in range(1,n):
  if arr[i]>maxVal:
    maxVal=arr[i]

print(maxVal)

Find Length of a List

In [ ]:
my_list=[1,4,5,7,8,4]
print (my_list)
count=0
for i in my_list:
  count=count+1
print ("length of list is ", count)
# using len function
print (len(my_list))

[1, 4, 5, 7, 8, 4]
length of list is  6
6

Swap First & Last Elements of a List

In [ ]:
my_list=[1,90,7,54,10]
size= len(my_list)
print("before swapping ",my_list)
temp=my_list[0]
my_list[0]=my_list[size-1]
my_list[size-1]=temp
print("after swapping ",my_list)

before swapping  [1, 90, 7, 54, 10]
after swapping  [10, 90, 7, 54, 1]

Remove Nth occurrence of the word from a List

In [ ]:
my_list=["hello","hello","hi","what's up","welcome"]
print(my_list)
word="hello"
count=0
n=2
for i in range(0,len(my_list)-1):
  if (my_list[i]==word):
    count=count+1
    if count==n:
      del my_list[i]
print(my_list)

['hello', 'hello', 'hi', "what's up", 'welcome']
['hello', 'hi', "what's up", 'welcome']

Search an Element in a List

In [ ]:
my_list=[1,90,7,54,10]
element=100 # search to be
if element in my_list:
  print("found")
else:
  print("not found")

not found

Reverse a List

In [ ]:
my_list=[1,90,7,54,10]
#using persifine method
print(my_list)
my_list.reverse()
print(my_list)

[1, 90, 7, 54, 10]
[10, 54, 7, 90, 1]

printing pattern

In [ ]:
n= 5
for i in range(n):
  for j in range(n):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

increasing trangle

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

decreasing trangle

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    print("*", end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

right sided trangle

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')

  for j in range(i+1):
    print("*",end=" ")
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(' ',end=' ')
  for j in range(i,n):
    print("*", end=" ")
  print()

  * * * * *
    * * * *
      * * *
        * *
          *

hill pattern

In [ ]:
n=10
for i in range(n):
  for j in range(i,n):
    print('',end=' ')
  for j in range(i+1):
    print("*",end=' ')
  print()

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

reverse hill

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print('',end=' ')
  for j in range(i,n):
    print('*',end=' ')
  print()

 * * * * *
  * * * *
   * * *
    * *
     *

dimond pattern

In [ ]:
for i in range(n):
    # Print spaces for the left side of the diamond
    for j in range(n - i - 1):
      print("  ", end="")

    # Print asterisks for the top and bottom of the diamond
    for j in range(2 * i + 1):
      print("* ", end="")

    # Print spaces for the right side of the diamond
    for j in range(n - i - 1):
      print("  ", end="")

    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
n= 5
for i in range(n):
  for j in range(i+1):
    print(i+1,end='')
  print()

1
22
333
4444
55555

In [ ]:
n= 5
p=1
for i in range(n):
  for j in range(i+1):
    print(p,end='')
  p+=1
  print()

1
22
333
4444
55555

In [ ]:
n= 5
p=0
for i in range(n):
  for j in range(i+1):
    print(p,end='')
  p+=2
  print()

0
22
444
6666
88888

In [ ]:
n= 5
p=5
for i in range(n):
  for j in range(i+1):
    print(p,end='')
  p-=1
  print()

5
44
333
2222
11111

In [ ]:
n= 5
p=1
for i in range(n-1):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i):
    print(p,end=' ')
  for j in range(i+1):
    print(p,end=' ')
  p+=1
  print()

for i in range(n):
  for j in range(i+1):
    print(' ',end=' ')
  for j in range(i,n-1):
    print(p,end=' ')
  for j in range(i,n):
    print(p,end=' ')
  p+=1
  print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

In [ ]:
n=5

for i in range(n):
  p=0
  for j in range(i+1):
    p+=1
    print(p,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=5

for i in range(n):
  p=n+1
  for j in range(i+1):
    p-=1
    print(p,end=' ')
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
n=5

for i in range(n):
  p=0
  for j in range(i+1):
    print('',end=' ')
  for j in range(i,n):
    p+=1
    print(p,end='')
  print()

 12345
  1234
   123
    12
     1

In [ ]:
n=5

for i in range(n):
  p=n+1
  for j in range(i+1):
    print('',end=' ')
  for j in range(i,n):
    p-=1
    print(p,end='')
  print()

 54321
  5432
   543
    54
     5

In [ ]:
n=5

for i in range(n):
  p=0
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i):
    p+=1
    print(p,end=' ')
  for j in range(i+1):
    p+=1
    print(p,end=' ')
  print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

Floyd Trangle

In [ ]:
n=5
p=0
for i in range(n):
  for j in range(i+1):
    p+=1
    print(p,end=' ')
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

OOP

In [ ]:
class Computer:

  def __init__(self,cpu,ram):
    self.cpu=cpu
    self.ram=ram



  def config(self):
    print("somthing",self.cpu,self.ram)

comp1=Computer('i5','16gb')
# another example
comp2=Computer('i9','100gb')
comp1.config()
comp2.config()

somthing i5 16gb
somthing i9 100gb

In [ ]:
class Parent:

  def __init__(self,name,age):
    self.name=name
    self.age=age
  def show(self):
    print("parents",self.name,self.age)

class Child(Parent):


p1=Person('sudip',20)
p1.show()

sudip 20
childs hari 10

Linear search

In [37]:

def search(list,n):
  for i in range(len(list)):
    if list[i]==n:
      return True
  return False

list=[1,3,4,5,6,4,9]
n=10
if search(list,n):
  print(n,"is found in the list ")
else:
  print (n,"is not found")

10 is not found

Binery search

In [41]:

def search(list,n):

 first=0
 last=len(list)-1

 while first<= last:
    mid=(first+last) //2

    if list[mid]<n:
      low= mid+1

    elif list[mid]>n:
      last=mid-1
    else:
      return mid
    return -1




list=[1,3,4,5,6,9,20,70,100]
n=100
if search(list,n):
  print(n,"is found in the list ")
else:
  print (n,"is not found")

100 is found in the list

Bubble sort

In [44]:
def bubble_sort(num):
  for i in range(len(num)-1,0,-1):
    for j in range(i):
      if num[j]>num[j+1]:
        temp = num[j]
        num[j]=num[j+1]
        num[j+1]=temp

nums=[1,5,2,9,4,6,3,22,5]
bubble_sort(nums)
print(nums)

[1, 2, 3, 4, 5, 5, 6, 9, 22]

Selection sort

In [52]:
def selection_sort(num,size):
  for i in range(size):
    minvalue=i
    for j in range(minvalue+1,size):

      if num[j]<num[minvalue]:
        minvalue=j
    temp = num[i]
    num[i]=num[minvalue]
    num[minvalue]=temp

nums=[1,5,2,9,4,6,3,22,5]
size=len(nums)
selection_sort(nums,size)
print(nums)

[1, 2, 3, 4, 5, 5, 6, 9, 22]

insertion sort

In [53]:
def insertionSort(arr):
	n = len(arr)

	if n <= 1:
		return # If the array has 0 or 1 element, it is already sorted, so return

	for i in range(1, n): # Iterate over the array starting from the second element
		key = arr[i] # Store the current element as the key to be inserted in the right position
		j = i-1
		while j >= 0 and key < arr[j]: # Move elements greater than key one position ahead
			arr[j+1] = arr[j] # Shift elements to the right
			j -= 1
		arr[j+1] = key # Insert the key in the correct position

# Sorting the array [12, 11, 13, 5, 6] using insertionSort
arr = [12, 11, 13, 5, 6]
insertionSort(arr)
print(arr)

[5, 6, 11, 12, 13]

connect to database (MySql)

import mysql.connector

mydb = mysql.connector.connect(host='local',user='root',password=',rooyt'database='k')
mycursor= mydb.cursor()

# query
mycursor.execute("select from table_name")

 command can be used to debug a Python program.
 python -m pdb Python-script.py