<a href="https://colab.research.google.com/github/sudip-khanal/python-Basics/blob/main/panas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
dataFrame=pd.read_csv('/company1.csv')
print(dataFrame)

bonus calculation

In [ ]:
dataFrame["Bonus"]=(dataFrame["salary"]/100)*20
print(dataFrame)

Group By in Pandas

In [ ]:
import pandas as pd
data = pd.read_excel('/ESD.xlsx')
print(data.head())

In [ ]:
result=data.groupby('Department').agg({"Gender":"count"})
print(result)

In [ ]:
result2=data.groupby('Country').agg({"Annual Salary":"max"})
print(result2)

In [23]:
common_name=data.groupby('Full Name').agg({"Full Name":"count"})
print(common_name)

                 Full Name
Full Name
Aaliyah Mai              1
Aaron Garza              1
Aaron Maldonado          1
Abigail Garza            1
Abigail Mejia            1
...                    ...
Zoe Rodriguez            1
Zoe Romero               1
Zoe Sanchez              1
Zoe Zhou                 1
Zoey Jackson             1

[991 rows x 1 columns]

In [15]:
result=data.groupby(['Department','Gender']).agg({"EEID":"count"})
print(result)

                        EEID
Department      Gender
Accounting      Female    53
                Male      43
Engineering     Female    80
                Male      78
Finance         Female    69
                Male      51
Human Resources Female    64
                Male      61
IT              Female   119
                Male     122
Marketing       Female    57
                Male      63
Sales           Female    76
                Male      64

In [29]:
result=data.groupby(['Department','Gender']).agg({"EEID":"count","Age":"max"})
print(result)

                        EEID  Age
Department      Gender
Accounting      Female    53   63
                Male      43   64
Engineering     Female    80   65
                Male      78   64
Finance         Female    69   65
                Male      51   65
Human Resources Female    64   65
                Male      61   64
IT              Female   119   65
                Male     122   64
Marketing       Female    57   65
                Male      63   65
Sales           Female    76   65
                Male      64   63