<a href="https://colab.research.google.com/github/sudip-khanal/python-Basics/blob/main/Tuples_Dictionaries_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples, Dictionaries, and Sets in Python

Tuples are collection of ordered and unordered data
it is immutable
once created cannot be changed the value

In [1]:
example=("apple","mango","banana","ball")
print (type(example))
print (example)

<class 'tuple'>
('apple', 'mango', 'banana', 'ball')

slicing and iteration on tuples

In [11]:
example=("apple","mango","banana","ball")
print(example[1:3])
print(example[:3])
print(example[3:])
print(example[::2])
print(example[::-1])

for i in example:
  print (i)
for i in range(len(example)):
  print(example[i])
for i,ele in enumerate(example):
  print(i,ele)

('mango', 'banana')
('apple', 'mango', 'banana')
('ball',)
('apple', 'banana')
('ball', 'banana', 'mango', 'apple')
apple
mango
banana
ball
apple
mango
banana
ball
0 apple
1 mango
2 banana
3 ball

In [14]:
example=("apple","mango","banana","ball")
print("Before conversion",type(example) )

example=list(example)
print("After conversion",type(example) )
example.append("hello")
print(example )

Before conversion <class 'tuple'>
After conversion <class 'list'>
['apple', 'mango', 'banana', 'ball', 'hello']

Dictionaries

In [22]:
import json
student={"name":"abin","age":"20","roll":"3"}
print (type(student))
print(student)
for x in student:
  print(x)
for x,ele in enumerate(student):
  print(x,ele)
for x,y in student.items():
  print(x,y)

#converting into json format
data = json.dumps(student)
print (data)

<class 'dict'>
{'name': 'abin', 'age': '20', 'roll': '3'}
name
age
roll
0 name
1 age
2 roll
name abin
age 20
roll 3
{"name": "abin", "age": "20", "roll": "3"}

In [28]:
student={"name":"abin","age":"20","roll":"3"}
fetch=student.get("age")
print(fetch)
print(student.keys())
print(student.values())
a=(student.copy())
print(a)

20
dict_keys(['name', 'age', 'roll'])
dict_values(['abin', '20', '3'])
{'name': 'abin', 'age': '20', 'roll': '3'}